body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti'),
    url(./assets/fonts/Athiti/Athiti-Regular.ttf) format('truetype');
}
